.Services {
  display: flex;
  flex-wrap: wrap;
}

.Card {
  flex: 1;
  min-width: 350px;
  margin: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.27);
  border-color: transparent;
}

.Card--success {
  background-color: #09D067;
  color: white;
}

.Card--error {
  background-color: #F2373D;
  color: white;
}

.Card--loading {
  background-color: #f2f2f2;
  color:#333;
}

.Card--header {
  display: flex;
  justify-content: space-between;
}

.Card--title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: left;
  margin-right: 10px;
}

.Card--statusWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.Card--status {
  font-weight: 800;
}

.Card--descriptionWrapper {
  display: flex;
  flex-direction: column;
}

.Card--descriptionFieldWrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.Card--descriptionFieldWrapper--label {
  font-weight: 400;
  text-align: left;
  flex: 0;
  min-width: 150px;
  color: rgba(255,255,255,0.75);
  margin: 0;
}

.Card--descriptionFieldWrapper--value {
  font-weight: 600;
  font-size: 14px;
  flex: 1;
  text-align: left;
  margin: 0;
}

.Card--loading--content {
  margin: 5px 2% 0 0;
}

.Card--loading--block {
    display: inline-block;
    margin: 5px 2% 0 0;
    height: 14px;
    border-radius: 2px;
    background: linear-gradient(90deg, rgba(207, 216, 220, 0.2), rgba(207, 216, 220, 0.4), rgba(207, 216, 220, 0.2));
    animation: card-loading 1.4s ease infinite;
    background-size: 600% 600%;
}

@keyframes card-loading {
  0%,
  100% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}